h1{
    color: deeppink;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    text-shadow: lightpink;
}
a{
    color: red;
    text-align: center;
    font-size: larger;
    padding: 20px;
}
ul{
    color: royalblue;
}
p{
    padding: 30px;
}

body {
    padding: 5px 25px;
}

.formdesign {
    font-size: 20px;

}

.formdesign input {
    width: 20%;
    padding: 10px 15px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
    font-size: 15px;
}

.formerror {
    color: red;
}

.but {
    border-radius: 9px;
    width: 50px;
    height: 25px;
    font-size: 10px;
    margin: 60px 30px;
}

table, tr, th {
    border: 2px solid black;
    padding: 5 px;
    align-items: center;
    margin: auto;
}

tr {
    font-size: 30px;
}

th {
    font-size: 30px;
}