p1{
    color: aquamarine;
    font-size: 40px;
    padding: 20px;
}
ul{
    color: darkmagenta;
}
h1{
    color: deeppink;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    text-shadow: lightpink;
}
div{
    color: blueviolet;
}
a{
    padding: 20px;
}
form{
    padding: 50px;
}
